/* Shared Colors */
:root {
  --header-bg-color: #2F5A44;
}

* {
  box-sizing: border-box;
}

/* Body in light (base) mode*/
body {
  --bg-color: #FFF;
  --text-color: #000;
  --row-hover-bg: #eee;
  --border-color: #ddd;
  --btn-color: #f8f8f8;
  --btn-hover: #e0e0e0;
  --row-even: #f9f9f9;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*Body in dark mode*/
body.dark-mode {
  --bg-color: #181818;
  --text-color: #fff;
  --row-hover-bg: #333;
  --border-color: #444;
  --btn-color: #444;
  --btn-hover: #4e4e4e;
  --row-even: #222;
  background-color: var(--bg-color);
  color: var(--text-color)
}

.container {
  margin: 40px;
}

/* Styles for the filters */
.order-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.xmark-icon,
.search-icon {
  position: absolute;
  left: 15px;
  color: var(--text-color);
}

.xmark-icon:hover {
  cursor: pointer;
}

.search-input {
  padding: 10px 40px;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
}

.filter,
.sort-btn,
.theme-btn {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--btn-color);
  color: var(--text-color);
  cursor: pointer;
}

.sort-btn:hover,
.theme-btn:hover {
  background-color: var(--btn-hover);
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
  background-color: var(--header-bg-color);
  color: #fff;
  text-align: left;
  padding: 10px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

tbody .no-orders {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  font-size: 20px;
}

.status-new,
.status-picking,
.status-delivering,
.status-delivered {
  font-weight: bold;
}

.status-new {
  color: #E0FE17;
}

.status-picking {
  color: #FFA726;
}

.status-delivering {
  color: #29B6F6;
}

.status-delivered {
  color: #305B45;
}


tbody tr:nth-child(even) {
  background-color: var(--row-even);
}

tbody tr:hover {
  background-color: var(--row-hover-bg);
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
  }

  tbody td:not(.no-orders) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 576px) {
  .order-controls {
    flex-direction: column;
    align-items: stretch;
  }

  .search-wrapper {
    width: 100%;
  }
}